body {
    margin: 0;
    padding: 0;
}
.sidebar-navigator {
    width: 250px;
    position: fixed;
    height: relative;
    margin-top: 76px;
    background-color: white;
}

.sidebar-homeicon {
    display: block;
    margin-top: 0px;
    margin-left: 21.5px;
    margin-bottom: 24px;
    margin-right: 21.5px;
    text-align: center;
}
.header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 12px;
    width: 100%
}

.sidebar-icon {
    max-height: 36px;
    max-width: 100%;
    margin: 26px auto;
}

.x-icon {
    height:32px;
    width:32px;
}
.header3 {
    width: 100%;
    height: 55px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  
    background-color: rgb(7, 37, 88);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(7, 37, 90);
}

.left-section {
    width: 30%;
    margin-right: 0;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.header-divider {
    width: 100px;
}

.middle-section {
    width: 40%;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 200px;
    display: flex;
    align-items: center;
    float:none;
    top:50%;
    right:50%;
    left:50%;
}

.header-text {
    color: rgb(255, 255, 255);
    font-size: 12pt;
    margin-top: 4px;
    margin-bottom: 12px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-family: Lato, sans-serif;
    font-weight: bold;
}
.main-image {
    background-size: cover;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}

.sidebar-title {
    color: rgba(7, 37, 88, 1);
    font-family: Lato, sans-serif;
    font-size: 17pt;
    font-weight: 900;
    letter-spacing: 1px;
    padding-bottom: 57px;
    padding-left: 21.5px;
    padding-right: 21.5px;
    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    outline: none;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}
.button {
    height: 20px;
    background-color: transparent;
    border-color: white;
}

.header-small-text {
    color: rgb(255, 255, 255);
    font-size: 14px;
    height:20px;
    margin-top: -2px;
}

.right-section {
    width: 30%;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
}

.header2 {
    height: 55px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
}

.big-image {
    height:relative;
    width: relative;
    

    position: relative;
    left: 0;
    right: 0;
}

.divider {
    width: 100%;
    height: 55px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position:relative;
    top:5px;
    left:0;

    background-color: rgb(7, 37, 88);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(7, 37, 90);
}

.divider-image-cover {
    width: 100%;
    height: 55px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position:relative;
    top: 5px;
    left:0;

    background-color: rgb(7, 37, 88);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(7, 37, 90);
}

.main {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    outline: none;
    margin-top: 64px;
    top: -63px;
    left:250px;
    position:relative;
    width: 1669px;
    margin-left: 0;
    margin-right: 0;

}
.main1 {
    height:5000px;
    width: 100%;
    position:relative;
    top: -8px;
    right:0px;
    left:0;
}